<!DOCTYPE html>
<html ng-app='myApp'>
    <head>
        <meta charset='utf-8'>
        <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    </head>
    <body>
        <div ng-controller='CalcController'>
            <div><input type="text" ng-model="number"></div>
            <button ng-click="square()">pow</button>
            <div>myCtrl1 : {{result}}</div>
        </div>
        
        <script>
        
        	
            var mainApp = angular.module("myApp",[]);
            console.log(mainApp);

           


            mainApp.config(function($provide) {
                $provide.provider('MathService', function() {
                   this.$get = function() {
                      var factory = {};
                      
                      factory.multiply = function(a, b) {
                         return a * b;
                      }
                      return factory;
                   };
                });
             });
                
             mainApp.value("defaultInput", 5);


            
             mainApp.service('CalcService', function(MathService){

                this.square = function(a) {
                   return MathService.multiply(a,a);
                }
             });
              mainApp.decorator('CalcService',function($delegate){
                
                $delegate['facker'] = $delegate['square'];
                // this.square = $delegate['square'];
               return $delegate;
              
             })
             mainApp.controller('CalcController', function($scope, CalcService, defaultInput) {
              
              console.log(CalcService)

                $scope.number = defaultInput;
                $scope.result = CalcService.facker($scope.number);

                $scope.square = function() {
                   $scope.result = CalcService.square($scope.number);
                }
             });

      
        </script>
    </body>
</html>