<!--The content below is only a placeholder and can be replaced.-->
<div>
  
</div>
<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <button mat-button (click)="sidenav.toggle()">menu</button>
    <span>Welcome to {{ title }}!</span>
  </mat-toolbar-row>

  
</mat-toolbar>


<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <el-radio class="radio" [(model)]="radio" label="备选1">备选项1</el-radio>

    <el-radio class="radio" [(model)]="radio" label="备选2">备选项2</el-radio>

    <el-radio class="radio" [(model)]="radio" label="备选3">备选项3</el-radio>
    <div [@routeAnimations] = "o.isActivated && o.activatedRoute.routeConfig.path">
    <router-outlet #o="outlet"></router-outlet>
      
    </div>
  </div>

</mat-sidenav-container>

